# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

venv/
env/
.venv/

staticfiles/
media/

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# =========================
# Android
# =========================
.gradle/
local.properties
captures/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.dbs